<html>
<head>
  <title>Video - {{ video.filename }}</title>
  <style>
  body { margin: 0; overflow: hidden; }
  #navheader { width: 98%; text-align: left; padding-left: 2em; top: 0; left: 0; margin: 0; }
  #videoinfo { width: 98%; text-align: center; margin: 0; }
  #videodiv { width: 98%; margin: 0; }
  table { width: 98%; }
  video { margin-left: auto; margin-right: auto; }
  </style>
  <link href="https://vjs.zencdn.net/7.0.2/video-js.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  </script>
  <script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
</head>
<body>
  <div id="navheader">
    <a href="/simple/">Index</a> - <a href="/simple/live">Live</a> - <a href="/simple/videos">Back to Videos</a> - <a href="/simple/archive/{{ video.filename }}"><button id="archive">Archive</button></a>
  </div>
  <div id="videoinfo">
    <table>
      <tbody>
        <tr>
          <td><strong>Filename:</strong> {{ video.filename }}</td>
          <td><strong>Duration:</strong> {{ video.length_sec }}s</td>
          <td><strong>Camera:</strong> {{ video.cam_name }} ({{ video.cam_num }}) on {{ video.host }}</td>
          <td><strong>Date:</strong> {{ video.event.date }} to {{ video.date }} ({{ video.date - video.event.date }})</td>
        </tr>
        <tr>
          <td><strong>Changed Pixels: </strong> {{ video.event.changed_pixels }}</td>
          <td><strong>Threshold:</strong> {{ video.event.threshold }}</td>
          <td><strong>Motion Width x Height:</strong> {{ video.event.motion_width}} x {{ video.event.motion_height }}</td>
          <td><strong>Motion Center:</strong> X={{ video.event.motion_center_x }} Y={{ video.event.motion_center_y }}</td>
        </tr>
        <tr>
          <td><strong>FPS:</strong> {{ video.event.fps }}</td>
          <td><strong>Noise:</strong> {{ video.event.noise }}</td>
          <td><strong>Despeckle Labels:</strong> {{ video.event.despeckle_labels }}</td>
          <td><strong>Event:</strong> {{ video.text_event }} ({{ video.event_id }})</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="videodiv" align="center">
    <video id="my-video" class="video-js" controls preload="auto" poster="/uploads/{{ video.thumbnail_name }}" data-setup='{}' align="center">
      <source src="/uploads/{{ video.filename }}" type='video/webm'>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>
  <script src="https://vjs.zencdn.net/7.0.2/video.js"></script>
  <script>
  function divToFillRemaining() {
    var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
    var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
    var headerHeight = $('#navheader').height();
    var infoHeight = $('#videoinfo').height();
    var newHeight = h - (headerHeight + infoHeight);
    var player = videojs('my-video');
    player.height(newHeight);
  }
  divToFillRemaining();
  </script>
</body>
</html>
